<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Windows 10 Theme Colours</title>
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">

  <meta name="description" content="List of stock colour options included in Windows 10">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="css/minireset.min.css">
  <link rel="stylesheet" type="text/css" href="css/space-case.min.css">
  <style>
    .colour-box {
      color: azure;
      height: 6em;
      border-radius: 1em;
      opacity: 1;
      transition: border-radius 1s;
      margin: 0.25em 0;
    }

    .colour-box:hover {
      border-radius: 0.4rem;
    }
  </style>
</head>
